{% extends 'base.html' %}

{% block content %}
<div class="navblock"></div>

    <h1 id="matkulsaya" style="text-align:center;text-align:center;font-weight: bold;font-size: calc(100% + 1vw + 1vh) ">List Pertanyaan</h1>
            {% for tanyakan in form %}
            <li>
                <div class = "container">
                    <div class="flex-container">
                        <div class="card">
                            <div class="row">
                                <div class="card-body">
                                    <h2>
                                    Nama : {{tanyakan.namaPenanya}}
                                    </h2>
                                    <h2>
                                    Email : {{tanyakan.emailPenanya}}
                                    </h2>
                                    <p>
                                    {{tanyakan.pertanyaan}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </li>
            {% endfor %}
            <span style="padding-bottom:20px">
            <h2 style = text-align:center>Sampai diujung pertanyaan</h2>
            </span>
{% endblock %}
