<!DOCTYPE html>
{% extends 'base.html'%}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edukasi</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/home/style.css" rel="stylesheet" />
</head>
<body>
    <div class = "container">
        <div class="flex-container">
            <div class = "col-md-3 ">
                <div class = "card-body">
                    <div class= "card-logo">
                        <p>
                        <img style=width:250px; src="../static/images/Logo Cuci.png" alt="some_text">
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="kanan">
                    <div class="card-body">
                        <h2>
                            Ayo Cuci Tangan Sahabat!
                        </h2>
                        <p>
                        Tangan melakukan banyak hal seperti memberi barang, memegang hewan peliharaan, dan lain-lain. 
                        Jika tidak dicuci maka dapat memindahkan kuman penyakit.
                        Maka dari itu, biasakan mencuci tangan pakai sabun dengan air mengalir, 
                        karena dengan  memakai sabun dapat membersihkan tangan dari kotoran yang mengandung kuman penyakit. 
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class = "col-md-3 ">
                <div class = "card-body">
                    <div class= "card-logo">
                        <p>
                        <img style=width:250px; src="../static/images/Logo Masker.png" alt="some_text">
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="kanan">
                    <div class="card-body">
                        <h2>
                            Kenakan masker saat keluar rumah!
                        </h2>
                        <p>
                            Kebiasaan memakai masker di masa pandemi COVID-19 bisa menjadi suatu kebiasaan 
                            jika hal tersebut dilakukan berulang-ulang. Tidak hanya itu, harus diimbangi 
                            juga dengan cara pakai dengan masker yang benar. Oleh sebab itu, kita perlu memakai 
                            masker saat keluar rumah untuk menghindari tertular oleh kuman saat berbicara oleh 
                            orang lain dan risiko tertular melalui udara di luar rumah. 
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class = "col-md-3 ">
                <div class = "card-body">
                    <div class= "card-logo">
                        <p></p>
                        <img style=width:250px; src="../static/images/Logo Fake.png" alt="some_text">
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="kanan">
                    <div class="card-body">
                        <h2>
                            Hindari HOAKS!
                        </h2>
                        <p>
                            Hoaks dapat menyebabkan konflik sosial pada masyarakat. Maka dari itu, 
                            kita perlu mengusir jauh hoaks ataupun klaim tak mendasar terkait berita-berita 
                            buruk yang disebarkan di internet maupun lingkungan.Kita perlu bijak dalam memilih 
                            sumber informasi agar tidak menimbulkan tuduhan-tuduhan dan konflik.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class = "col-md-3 ">
                <div class = "card-body">
                    <div class= "card-logo">
                        <a href=/tanya>
                        <img style=width:250px; src="../static/images/Tanya.png" alt="some_text">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="kanan">
                    <div class="card-body">
                        <h2>
                            Yuk Bertanya!
                        </h2>
                        <p>
                        Gunakan tombol disamping apabila kalian memiliki sebuah pertanyaan yang ingin
                        ditanyakan kepada Coronfront dan berhubungan seputar COVID-19. Tim kami akan memberikan informasi dari sumber
                        terpercaya yang langsung akan dikirimkan di dalam e-mail kalian. Tunggu apa lagi?
                        Yuk tanyakan hal yang belum bisa kalian jawab melalui fitur ini!
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}