{% extends 'base.html' %}

{% block meta %}
    <title>Coronfront</title>

    <style>
        .hometext {
            text-align: center;
            font-weight: bold;
            font-size: calc(100% + 1vw + 1vh);
            margin-top: 5%;
        }

        .hometext h1 {
            text-align: center;
            font-weight: bold;
            font-size: calc(100% + 1vw + 1vh); 
            color :#ff3b3b;
        }  
        h1:hover{
            text-shadow: 0 5px 20px #000000;
        }
    </style>

{% endblock meta %}

{% block content %}
    
{% if user.is_authenticated %}
<div style="font-family: Quicksand;" class=" justify-content-center flex align-items-center mt-4" >
    <div class="flex flex-column">
        <h1 style="text-align: center;">
            Selamat Datang, {{ user }}!
        </h1>
        <div class="flex flex-row justify-content-around"style="text-align: center;">
          <button type="button" class="btn btn-outline-dark"><a href="/form/logout">Logout</a></button>
        </div>

    </div>
</div>
{% endif %}

    <div class="hometext">
        <h1>GARDA TERDEPAN</h1>
        <h1>PENANGANAN COVID-19</h1>
    </div>

    <div class="selection-container">
          <div class="selection-wrapper">
            <div class="selection-slide">
              <div class="image-container">
                <div class="gallery-wrap wrap-effect">
                    <a href="/form" class="item">
                        <div class="item-overlay">
                            <div class="item-details fadeIn-bottom">
                                <h3 class="item-title">Form Pendataan COVID-19</h3>
                                <p class="item-text">Form untuk pendataan pasien COVID-19.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/berita" class="item">
                        <div class="item-overlay">
                            <div class="item-details fadeIn-bottom">
                                <h3 class="item-title">Berita Terkini COVID-19</h3>
                                <p class="item-text">Dapatkan berita terkini sekarang juga.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/feedback" class="item">
                        <div class="item-overlay">
                            <div class="item-details fadeIn-bottom">
                                <h3 class="item-title">Feedback untuk kami</h3>
                                <p class="item-text">Jika ada kritik dan saran, boleh isi form feedback disini</p>
                            </div>
                        </div>
                    </a>
                    <a href="/edukasi" class="item">
                        <div class="item-overlay">
                            <div class="item-details fadeIn-bottom">
                                <h3 class="item-title">Edukasi COVID-19</h3>
                                <p class="item-text">Tata cara pencegahan penyebaran virus COVID-19</p>
                            </div>
                        </div>
                    </a>
                </div>
              </div>
            </div>
            
          </div>
        </div>

{% endblock content %}