@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

#titles {
    text-align: center;
    font-weight: bold;
}


