{% extends 'base.html' %}

{% block meta %}
    <title>{{ berita.title }}</title>
    <style>
        .switch {
            height: 150px;
            width: 90%;
            margin: 20px;
        }

        .button-toggle-wrap {
            float: right;
            text-align: center;
        }

        .button-toggle {
            display: inline-block;
            background: #bbbbbb;
            border-radius: 3px;
            height: 48px;
            padding: 4px;
            width: 101px;
            position: relative;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.22);
        }
        .button-toggle .handle {
            position: absolute;
            left: 4px;
            right: auto;
            width: 40px;
            height: 40px;
            background: #fff;
            border-radius: 3px;
            transition: all 0.4s cubic-bezier(0.33, 1.6, 0.66, 1);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
        }

        .toggler {
            display: none;
        }
        .toggler:checked + .button-toggle {
            background: #f07464;
        }
        .toggler:checked + .button-toggle .handle {
            left: 57px;
        }
    </style>
{% endblock meta %}

{% block content %}
<div class="switch">
    <label class="button-toggle-wrap">
        <p class="my-text">Light mode</p>
        <input class="toggler" type="checkbox" data-toggle="button-toggle"/>
        <div class="button-toggle">
            <div class="handle">
                <div class="bars"></div>
            </div>
        </div>
    </label>
</div>

<div class="detail-berita">
    <h1>{{ berita.title }}</h1>
    <p>{{ berita.uploaded_at }}</p>
    <img src="/media/{{ berita.document }}">
    <pre>{{ berita.description }}</pre>
    <a style="text-decoration:none;" href="/berita/">
        <div class="back-tag">
            <p>Kembali</p>
        </div>
    </a>
</div>
<script type="text/javascript">
$(function() {
	$("[data-toggle]").click(function() {
		var target = $(".my-text");
		if($(this).prop('checked')) {
            target.html('Dark mode');
            $("body").css("color", "#ffffff");
            $('body').css("background-color", '#242424');
            $("pre").css("color", "#ffffff");
            $('pre').css("background-color", '#242424');
		} else {
            target.html('Light mode');
            $("body").css("color", "#000000");
            $('body').css("background-color", '#ffffff');
            $("pre").css("color", "#000000");
            $('pre').css("background-color", '#ffffff');
            
		}
	})
})
</script>
{% endblock content %}