{% extends 'base.html' %}

{% block meta %}
    <title>Berita Terkini COVID-19</title>
{% endblock meta %}

{% block content %}
<div class="jumbotron">
    <div class="container" id="jumbocontent">
    <h1 class="display-4"><b>Berita Terkini</b></h1>
    <p class="lead"> Berita terkini COVID-19 di Indonesia </p>
    <hr class="my-4">
    </div>
</div>
<div class="search-berita">
    <h1>Cari Berita</h1>
    <input id="keyword" type="search" placeholder="Masukkan kata kunci">
    <ol id="hasil">
    </ol>
</div>

<div class="list-berita">
    <div class="row" id="cobahasil">
        {% for berita in object_list %}
        <div class="col-lg-6 col-md-12">
            <div class="berita">
                <a href="{% url 'berita:detail' berita.pk  %}">
                    <img src="../media/{{ berita.document }}"><br/>
                    <p>{{ berita.uploaded_at }}<br/></p>
                    <h2>{{ berita.title }}</h2>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

        {% if is_paginated %}
        <div style="clear: both;"></div>
        <div class="page">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }}</span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
</div>

<script type="text/javascript">

    $("#keyword").keydown(function() {
        $(this).css("background-color", '#ff6969');
    })

    $("#keyword").keyup(function () {
        $(this).css("background-color", '#ffffff');
        var isi_keyword = $("#keyword").val();
        console.log(isi_keyword);
        cari(isi_keyword)
    })

    function cari(data) {
        $.ajax({
            async: true,
            url: "cari",
            data: JSON.stringify({ searchText: data }),
            type: "POST",
            success: function (hasil) {
                console.log(hasil);
                var obj_hasil = $("#cobahasil");
                obj_hasil.empty();
                for (i = 0; i < hasil.length; i++) {
                    var tmp_title = hasil[i].title;
                    var tmp_date = hasil[i].uploaded_at;
                    var tmp_img = hasil[i].document;
                    var tmp_id = hasil[i].id;
                    console.log(tmp_title);
                    obj_hasil.append(
                        '<div class="col-lg-6 col-md-12">' +
                            '<div class="berita">' +
                                '<a href="detail/' + tmp_id + '">' +
                                    '<img src="../media/' + tmp_img + '"><br/>' +
                                    '<p>' + tmp_date + '<br/></p>' +
                                    '<h2>' + tmp_title + '</h2>' +
                                '</a>' +
                            '</div>' +
                        '</div>'
                    );
                }
            }
        })
    }
</script>
{% endblock content %}