
{% load static %}
<!DOCTYPE html>
<html>
    <head>
            <title>Form</title> 
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="{% static 'home/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if request.get_full_path == "/" %}
                    <a class="navbar-brand" href="/"><img src="/static/images/CORONFRONT.png"><br/></a>
                    {% else %}
                    <a class="navbar-brand" href="/"><img src="/static/images/cf.png"><br/></a>
                    {% endif %}
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    {% if request.get_full_path == "/form" %}
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/form">Form Pendataan</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Berita
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/berita/">Baca Berita</a></li>
                                <li><a href="/berita/upload">Tambah Berita</a></li>
                            </ul>
                        </li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% elif request.get_full_path == "/berita/" %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li class="dropdown active">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Berita
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/berita/">Baca Berita</a></li>
                                <li><a href="/berita/upload">Tambah Berita</a></li>
                            </ul>
                        </li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% elif request.get_full_path == "/berita/upload" %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li class="dropdown active">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Berita
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/berita/">Baca Berita</a></li>
                                <li><a href="/berita/upload">Tambah Berita</a></li>
                            </ul>
                        </li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% elif request.get_full_path == "/feedback" %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Berita
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/berita/">Baca Berita</a></li>
                                <li><a href="/berita/upload">Tambah Berita</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% elif request.get_full_path == "/edukasi/" %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Berita
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/berita/">Baca Berita</a></li>
                                <li><a href="/berita/upload">Tambah Berita</a></li>
                            </ul>
                        </li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li class="active"><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% elif request.get_full_path == "/contacts" %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Berita
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/berita/">Baca Berita</a></li>
                                <li><a href="/berita/upload">Tambah Berita</a></li>
                            </ul>
                        </li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li class="active"><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Berita
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/berita/">Baca Berita</a></li>
                                <li><a href="/berita/upload">Tambah Berita</a></li>
                            </ul>
                        </li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% if user.is_authenticated %}
            <div class="jumbotron">
                <div class="container" id="jumbocontent">
                <h1 class="display-4"><b>NGEDATA YUK!</b></h1>
                <p class="lead"> Bagi Temen-temen coronfront yang pernah mengalami Covid-19, isi  form di bawah ini yuk !! </p>
                <hr class="my-4">
                </div>
            </div>

            <main>
                <h1 id="judul">Form Berbagi Informasi Covid-19</h1>
            </main>

            <main class="form">
                <div class="container">
                <section class="input">
                    <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    <label class="Nama"><b>Inisial</b></label>
                    <section class="formnya">{{ status.Nama }}</section>
                    <br>
                    <label class="Umur"><b>Umur</b></label>
                    <section class="formnya">{{ status.Umur }}</section>
                    <br>
                    <label class="Aktivitas"><b>Aktivitas Sebelum Gejala</b></label>
                    <section class="formnya">{{ status.AktivitasSebelumGejala }}</section>
                    <br>
                    <label class="Gejala"><b>Gejala </b></label>
                    <section class="formnya">{{ status.Gejala }}</section>
                    <br>
                    <button type="submit" class="btn btn-danger">Kirim</button>
                    </form>
                </section>
            </div>
            </main>

            <div class="search-Gejala">
                <h1>Pencarian</h1>
                <input id="keyword" type="search" placeholder="Masukkan kata kunci">
                <ol id="hasil">
                </ol>
            </div>

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Inisial</th>
                    <th scope="col">Umur</th>
                    <th scope="col">Aktivitas sebelum gejala</th>
                    <th scope="col">Gejala</th>
                </tr>
                </thead>
                <tbody id="cobahasil">
                {% for i in  form %}
                <tr>
                    <th scope="row">{{ i.Nama }}</a></th>
                    <th scope="row">{{i.Umur}} tahun</a></th>
                    <th scope="row">{{i.AktivitasSebelumGejala}}</a></th>
                    <th scope="row">{{i.Gejala}}</a></th>
                </tr>
                {% endfor %}
                </tbody>
        {% endif %}
        {% if not user.is_authenticated %}
        <div style="font-family: Quicksand;" class="justify-content-center flex align-items-center mt-5">
        
            <div class="flex flex-column"style="text-align: center;">
                <h1>
                    Silahkan Login terlebih dahulu
                </h1>
                <div class="flex flex-row justify-content-around" style="text-align: center;">
                  <button type="button" class="btn btn-outline-dark"><a href="/form/login">Login</a></button>
                </div>
        
            </div>
        </div>
        {% endif %}








        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
          $("input").focus(function(){
            $(this).css("background-color", "yellow");
          });
          $("input").blur(function(){
            $(this).css("background-color", "white");
          });
          $("textarea").focus(function(){
            $(this).css("background-color", "yellow");
          });
          $("textarea").blur(function(){
            $(this).css("background-color", "white");
          });
          
          $("div").focusin(function(){
            $(this).css("background-color", "#FFFFCC");
          });
          $("div").focusout(function(){
            $(this).css("background-color", "#FFFFFF");
          });
        });


        $("#keyword").keydown(function() {
        $(this).css("background-color", '#FFFFFF');
         })

        $("#keyword").keyup(function () {
            $(this).css("background-color", '#ffffff');
            var isi_keyword = $("#keyword").val();
            console.log(isi_keyword);
            cariGejala(isi_keyword)
        })

        function cariGejala(data) {
        $.ajax({
            async: true,
            url: "cariGejala",
            data: JSON.stringify({ searchText: data }),
            type: "POST",
            success: function (hasil) {
                console.log(hasil);
                var obj_hasil = $("#cobahasil");
                obj_hasil.empty();
                for (i = 0; i < hasil.length; i++) {
                    var tmp_Nama = hasil[i].Nama;
                    var tmp_Umur = hasil[i].Umur;
                    var tmp_AktivitasSebelumGejala = hasil[i].AktivitasSebelumGejala;
                    var tmp_Gejala = hasil[i].Gejala;
                    console.log(tmp_Nama);
                    obj_hasil.append(
                        '<tr>'+
                            '<th scope="row">'+tmp_Nama+ '</a>'+'</th>' +
                            '<th scope="row">'+tmp_Umur+ '</a>'+'</th>' +
                            '<th scope="row">'+tmp_AktivitasSebelumGejala + '</a>'+'</th>' +
                            '<th scope="row">'+tmp_Gejala+ '</a>'+'</th>' +
                        '<tr>'
                    );
                }
            }
        })
    }
        </script>
        
      
        
    </body>
    

 
</html>