<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Sign Up</title>
   
</head>
<body>
  
    <style>
        .logintext {
            text-align: center;
            font-weight: bold;
            font-size: calc(100% + 1vw + 1vh);
            margin-top: 5%;
        }

        .logintext h1 {
            text-align: center;
            font-weight: bold;
            font-size: calc(80% + 1vw + 1vh); 
            color :#ff3b3b;
        }  
    </style>
    <div class='login-box'>

    <form class=" align-self-center" action="" method="POST">
        <div class="logintext">
            <h1 style="text-align: center;">REGISTER</h1>
        </div>
        <table>
        {% csrf_token %}
      
        {{form}}
    </table>
            <button type="submit" id="submitButton" style="width: 40%;"><a href="/form/login">Submit</a></button>
    </form>

</div>
    </div>
    {% if form.errors %}
    <div class="error">
        <p><span>Terjadi Error!</span></p>
        <ul>
            {% for key,value in form.errors.items %} {% for error in value %}
            <li>{{ error }}</li>
            {% endfor %} {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

    <br>
    <span style="font-size: .8em; text-align:center"><a href="/form/login">Have an account?
    </a>
</span>



</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $("#id_username").change(function () {
        var username = $(this).val();
        console.log(username)
        $.ajax({
          url: '/form/ajax/validate_username/',
          data: {
            'username': username
          },
          dataType: 'json',
          success: function (data) {
            if (data.is_taken) {
              alert("A user with this username already exists.");
            }
          }
        });
  
      });
  </script>
</body>
</html>