@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.jumbotron{
    background-color: antiquewhite;
    border: 3px;
   
}
.h1 #login{
    text-align: center;
    font-weight: bold;

}
#judul{
    text-align: center;
    font-weight: bold;
}



